{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "babel",
    "jest"
  ],
  "rules": {
    "strict": 0,
    "eqeqeq": [ "error", "allow-null" ],
    "guard-for-in": "error",
    "no-extend-native": "error",
    "comma-dangle": [ "error", "always-multiline" ],
    "no-use-before-define": ["error", "nofunc"],
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "warn",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-negated-in-lhs": "error",
    "no-obj-calls": "error",
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "complexity": ["error", 10],
    "consistent-return": "error",
    "no-with": "error",
    "radix": "error",
    "yoda": ["error", "never"],
    "no-unused-vars": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "no-undef": "error",
    "max-depth": ["error", 5],
    "max-len": [ "error", 120, 2, { "ignoreComments": true, "ignoreUrls": true } ],
    "max-params": ["error", 5],
    "no-caller": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "new-cap": [ "error", { "capIsNewExceptions": [ "Q", "ObjectId", "Promise" ] } ],
    "no-this-before-super": "error",
    "no-new-object": "error",
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "no-return-assign": "error",
    "no-useless-call": "error",
    "no-unused-expressions": "error",
    "no-self-compare": "error",
    "wrap-iife": ["error", "inside"],
    "no-alert": "error",
    "no-fallthrough": "error",

    "eol-last": "error",
    "quotes": [ "error", "single" ],
    "semi": [ "error", "always" ],
    "array-bracket-spacing": [ "error", "always", {
      "singleValue": true,
      "objectsInArrays": true,
      "arraysInArrays": true
    } ],
    "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
    "camelcase": [ "error", { "properties": "always" } ],
    "comma-spacing": [ "error", { "before": false, "after": true } ],
    "comma-style": [ "error", "last" ],
    "computed-property-spacing": [ "error", "never" ],
    "func-style": [ "error", "declaration" ],
    "indent": [ "error", 2, { "SwitchCase": 1 } ],
    "key-spacing": [ "error", { "beforeColon": false, "afterColon": true } ],
    "new-parens": "error",
    "no-lonely-if": "error",
    "no-multiple-empty-lines": [ "error", { "max": 2 } ],
    "no-mixed-spaces-and-tabs": "error",
    "no-nested-ternary": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "object-curly-spacing": [ "error", "always" ],
    "operator-assignment": [ "error", "always" ],
    "operator-linebreak": [ "error", "before" ],
    "padded-blocks": [ "error", "never" ],
    "quote-props": [ "error", "as-needed" ],
    "semi-spacing": [ "error", { "before": false, "after": true } ],
    "space-before-blocks": [ "error", "always" ],
    "space-before-function-paren": [ "error", { "anonymous": "always", "named": "never" } ],
    "space-in-parens": [ "error", "never" ],
    "space-infix-ops": "error",
    "space-unary-ops": [ "error", { "words": true, "nonwords": false } ],
    "spaced-comment": [ "error", "always", { "markers": [ "*" ] } ],
    "arrow-spacing": [ "error", { "before": true, "after": true } ],
    "arrow-parens": [ "error", "as-needed" ],
    "block-spacing": [ "error", "always" ],
    "keyword-spacing": "error"
  }
}
